@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Lato&display=swap');
/*
font-family: 'IM Fell English', serif;
font-family: 'Lato', sans-serif;
*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: #F9E0C5;
  color: #344857;
}

h1 {
  font-family: 'IM Fell English', serif;
  font-style: italic;
}

h2 {
  font-family: 'IM Fell English', serif;
  font-style: italic;
  font-size: 1.25rem;
}

.navbar {
  width: 95%;
  margin: 2rem auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  padding: 10px;
  margin: 0;
  padding: 0;
  background-color: #CB585B;
}

.navbar-link a {
  border: 1px solid #344857;
  text-decoration: none;
}

.landing {
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid black;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  padding: 2rem 0;
  background-color: #DCC6B2;
}
.landing-link {
  font-size: 2rem;
  text-decoration: none;
  display: block;
  margin: 1rem 0;
  color: #F9EBE1;
}

.instructions {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #A4A8A7;
  background-color: #344857;
  padding: 1rem;
}
.instructions-link,  .game-link {
  border: none;
  text-decoration: none;
  display: inline-block;
  background-color: #A4A8A7;
  padding: 5px;
  margin: 1rem;
  font-size: 20px;
  color: #344857;
}

.start {
  background-color: salmon;
  padding: 5px 10px;
}

.in-game {
  background-color: salmon;
  padding: 5px 10px;
}

.instructions-link:hover, .game-link:hover {
  background-color: white;
  color: black;
}

.instructions p {
  width: 80%;
  margin: 0 auto;
  line-height: 150%;
}

.highlight {
  color: #F9EBE1;
}
.game-board {
  display: flex;
  flex-wrap: wrap;
}
.game {
  text-align: center;
}
.game-title {
  font-size: 2.5rem;
}

.cave {
  width: 5%;
  margin: 1rem auto;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.cave.selected {
  background-color: goldenrod;
  color: white;
}

.cave.disabled {
  background-color: dodgerblue;
  color: darkblue;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer p {
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #366081;
}
